#explorer{width:250px;height:100%;float:left;border-right:2px solid #ddd;padding-top:10px;}
#history{overflow:auto;height:250px;}
#results{overflow:auto;margin-top:37px;font-family:menlo, consolas, arial;}

#explorer > div{display:none;}
#explorer ul li{padding:4px 0 4px 10px;border-bottom:1px solid #eee;cursor:pointer;}
#explorer ul li:hover{background:#eee;}
#explorer h3{margin-left:5px;}

#history > div {border-bottom:1px solid #e0e0e0;padding:5px;cursor:pointer;}
#history > div.error{background:#fee;}
#history > div.error:hover{background:#edd;}
#history > div.ok{background:#f0fff0;}
#history > div.ok:hover{background:#ded;}
#history > div .time{float:right;}

#input{overflow:hidden;position:absolute;top:298px;left:252px;height:15px;font-size:1em;padding:10px;font-family:menlo, consolas, arial;border:solid #ccc;border-width:1px 0;}
#input:focus{outline:none;}
#input.processing{background:#f0f0f0;color:#999;background:url('../images/loading.gif') repeat-y;}

#list{border:none;font-family:menlo, consolas, arial;border-collapse:collapse;font-size:90%;background:#fff;}
#list td{border-bottom:1px solid #f0f0f0;}
#list td > div{max-width:300px;overflow:hidden;white-space:nowrap;padding:4px 10px;}
#list thead{font-weight:bold;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));}
#list thead td{border-bottom:1px solid #e0e0e0;}
#list td > div.expanded{overflow:visible;padding:10px;background:#fff;position:absolute;border:1px solid #ccc;max-width:500px;white-space:normal;-webkit-box-shadow: 1px 1px 1px #666;box-shadow: 1px 1px 1px #666;-moz-box-shadow: 1px 1px 1px #666;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#list tbody tr:hover{background:#eee;}
#single{padding:20px;}
