<div>
  <div class="title">About Mongo Web Admin</div>
  <p>mongoweb version 0.1</p>
  <p>source code available at <a href="#">http://github.com/karlseguin/mongowebadmin</a></p>
  <p>freely licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></p>
  <p>&copy; Karl Seguin</p>
</div>